Package: luwrain-live
Version: 0.5.0-lwr1
Architecture: i386
Maintainer: Michael Pozhidaev <michael.pozhidaev@gmail.com>
Installed-Size: 901
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libncursesw5 (>= 5.6+20070908), libstdc++6 (>= 4.4.0), libtinfo5, vorbis-tools
Section: unknown
Priority: optional
Homepage: http://luwrain.org
Description: A set of tools, scripts and media files required by LUWRAIN live CD images
  This package contains all tools and materials which are needed for
  proper work of LUWRAIN live CD. First of all, it has the greeter
  utility used to show first several slides with ncurses functions.
